[init]
	defaultBranch = main
[user]
	email = {{ git_user_email }}
	name = {{ git_user_name }}
[core]
	editor = {{ git_default_editor }}
[pull]
	rebase = true
[rebase]
	autoStash = true
[alias]
	lg = log --oneline --decorate --graph --all --max-count=12
