[skin]
description=One Dark Custom
256colors=true

[Lines]
horiz=─
vert=│
lefttop=┌
righttop=┐
leftbottom=└
rightbottom=┘
topmiddle=┬
bottommiddle=┴
leftmiddle=├
rightmiddle=┤
cross=┼

[core]
_default_=lightgray;default
selected=black;blue
marked=yellow;default
marked_selected=black;yellow
input=white;default
reverse=black;lightgray
header=blue;default
commandlineprompt=green;default

[dialog]
_default_=black;lightgray
dfocus=black;blue
dhotnormal=red;lightgray
dhotfocus=red;blue
dtitle=red;lightgray

[error]
_default_=white;red
errdhotnormal=yellow;red
errdhotfocus=yellow;lightgray

[filehighlight]
directory=blue;
executable=green;
symlink=cyan;
hardlink=cyan;
stalelink=brightred;
device=brightmagenta;
special=brightmagenta;
core=red;
temp=gray;
archive=magenta;
doc=white;
source=green;
media=magenta;
graph=magenta;
database=brightred;

[menu]
_default_=black;lightgray
menusel=black;blue
menuhot=red;lightgray
menuhotsel=red;blue
