Host jg
  HostName github.com
  User git

Host tw
  HostName github.com
  User git
{% if ansible_facts['system'] == "Linux" and ansible_facts['hostname'] in ["system", "hal", "rocks"] %}

Host *
  IdentityAgent ~/.1password/agent.sock
{% endif %}
