set nocompatible        " use Vim features, not strict vi
syntax on               " turn on syntax highlighting
set background=dark     " tell Vim you prefer a dark background
set termguicolors       " enable true colors support
colorscheme default     " use default, will customize colors below

" Conservative readable colors
hi Normal guifg={{ default_terminal_colors.foreground }} guibg={{ default_terminal_colors.background }}
hi Cursor guifg={{ default_terminal_colors.background }} guibg={{ default_terminal_colors.cursor }}
hi Comment guifg={{ color_scheme.bright.black }}
hi Constant guifg={{ color_scheme.normal.blue }}
hi String guifg={{ color_scheme.normal.green }}
hi Identifier guifg={{ color_scheme.normal.blue }}
hi Statement guifg={{ color_scheme.normal.blue }}
hi PreProc guifg={{ color_scheme.normal.yellow }}
hi Type guifg={{ color_scheme.normal.blue }}
hi Special guifg={{ color_scheme.bright.white }}
hi Error guifg={{ color_scheme.bright.white }} guibg={{ color_scheme.normal.red }}

set number              " show line numbers
hi LineNr guifg={{ color_scheme.bright.black }}     " set line numbers to readable grey
set expandtab           " use spaces instead of tabs
set tabstop=4           " number of spaces for a tab
set shiftwidth=4        " number of spaces for each indent
set autoindent          " auto indent new lines
set smartindent         " smart indent

set ruler               " show cursor position
set hlsearch            " highlight search results
set incsearch           " incremental search
set ignorecase          " ignore case when searching
set smartcase           " override ignorecase when pattern has upper case

set backspace=indent,eol,start  " allow backspacing over everything
set showcmd             " show incomplete commands
set wildmenu            " enhanced command line completion
set laststatus=2        " always show status line

" Save file with sudo if needed
command W w !sudo tee % > /dev/null