set nocompatible        " use Vim features, not strict vi
syntax on               " turn on syntax highlighting
set background=dark     " tell Vim you prefer a dark background
set termguicolors       " enable true colors support
colorscheme default     " use default, will customize colors below

" Custom colors to match kitty terminal
hi Normal guifg=#E6E6E6 guibg=#1E1E1E
hi Cursor guifg=#1E1E1E guibg=#E6E6E6
hi Comment guifg=#666666
hi Constant guifg=#E06C75
hi String guifg=#98C379
hi Identifier guifg=#9CDCFE
hi Statement guifg=#C678DD
hi PreProc guifg=#E5C07B
hi Type guifg=#56B6C2
hi Special guifg=#BBBBBB
hi Error guifg=#F8F8F8 guibg=#E06C75

set number              " show line numbers
hi LineNr guifg=#666666     " set line numbers to dark grey
set expandtab           " use spaces instead of tabs
set tabstop=4           " number of spaces for a tab
set shiftwidth=4        " number of spaces for each indent
set autoindent          " auto indent new lines
set smartindent         " smart indent

set ruler               " show cursor position
set hlsearch            " highlight search results
set incsearch           " incremental search
set ignorecase          " ignore case when searching
set smartcase           " override ignorecase when pattern has upper case

set backspace=indent,eol,start  " allow backspacing over everything
set showcmd             " show incomplete commands
set wildmenu            " enhanced command line completion
set laststatus=2        " always show status line

" Save file with sudo if needed
command W w !sudo tee % > /dev/null