# Audio production limits
@audio   -  rtprio     95
@audio   -  memlock    unlimited
@audio   -  nice       -19

# User-specific limits
system   -  rtprio     95
system   -  memlock    unlimited
system   -  nice       -19