[Unit]
Description=Kanshi dynamic display configuration
After=sway.service

[Service]
ExecStart=/usr/local/bin/kanshi
Restart=on-failure
Environment=WAYLAND_DISPLAY=wayland-1

[Install]
WantedBy=default.target