# Laptop only profile
profile {
    output eDP-1 enable position 0,0
}

# Samsung U32J59x external display profile
profile {
    output "Samsung Electric Company U32J59x H4ZM700055" enable mode 3840x2160@30Hz position 0,0 scale 2
    output eDP-1 disable
}
