[Desktop Entry]
Type=Application
Name=RimWorld
Comment=Launch RimWorld with compute shaders disabled
Exec={{ rimworld_binary_path }} {{ rimworld_args }}
Terminal=false
Categories=Game;
NoDisplay=false
StartupNotify=true
