{
    "height": 30,
    "position": "bottom",
    "spacing": 4,
    "modules-left": [
        "sway/workspaces"
    ],
    "modules-center": [],
    "modules-right": [
        "pulseaudio",
        "custom/sep",
        "network",
        "custom/sep",
        "battery",
        "clock#date",
        "clock#time",
        "tray"
    ],

    "style": "background: #1E1E1E; color:#E6E6E6; border: 1px solid #333;",

    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": "{name}",
        "format-icons": {
            "1": "1",
            "2": "2",
            "3": "3",
            "4": "4",
            "5": "5",
            "6": "6",
            "7": "7",
            "8": "8",
            "9": "9",
            "10": "10",
            "urgent": "",
            "focused": "",
            "default": "•"
        },
        "format-urgent": " {name}",
        "format-focused": " {name}",
        "format-default": "• {name}"
    },

    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% 🎧",
        "format-bluetooth-muted": "muted 🎧",
        "format-muted": "muted 🔇",
        "format-icons": {
            "default": ["🔈", "🔉", "🔊"]
        },
        "on-click": "pavucontrol"
    },

    "custom/sep": {
        "format": "|",
        "interval": 0,
        "tooltip": false
    },

    "network": {
        "format-wifi": "{essid} 🌐",
        "format-ethernet": "Eth 🔌",
        "format-disconnected": "Disconnected 🚫",
        "tooltip-format-wifi": "{essid} ({signalStrength}%)",
        "tooltip-format-ethernet": "{ipaddr}/{cidr}",
        "on-click": "kitty -e nmtui"
    },

    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{power}W {icon}",
        "format-charging": "{power}W {icon}",
        "format-plugged": "{power}W {icon}",
        "format-full": "{power}W {icon}",
        "format-icons": ["▁", "▃", "▅", "▆", "█"]
    },

    "clock#date": {
        "format": " <b>{:%d/%m}</b> ",
        "tooltip-format": "{:%Y-%m-%d}\n<tt><small>{calendar}</small></tt>"
    },

    "clock#time": {
        "format": " <b>{:%H:%M}</b> ",
        "tooltip-format": "{:%Y-%m-%d}\n<tt><small>{calendar}</small></tt>"
    },

    "tray": {
        "spacing": 10
    }
}
