* {
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
}

window {
    margin: 0px;
    background-color: {{ theme_colors.background }};
    border-radius: 10px;
    border: 2px solid {{ theme_colors.border }};
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
}

#input {
    margin: 5px;
    padding: 5px;
    border: none;
    color: {{ theme_colors.foreground }};
    background-color: {{ theme_colors.surface }};
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    background-color: {{ theme_colors.background }};
    border-radius: 5px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    background-color: {{ theme_colors.background }};
    border-radius: 5px;
}

#scroll {
    margin: 0px;
    padding: 5px;
    border: none;
}

#text {
    margin: 0px;
    padding: 0px;
    color: {{ theme_colors.foreground }};
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
} 

#entry {
    padding: 5px;
    margin: 0px 0px 2px 0px;
    border-radius: 5px;
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
}

#entry:selected {
    background-color: {{ theme_colors.surface }};
    border-radius: 5px;
    border-left: 3px solid {{ theme_colors.secondary }};
}

#text:selected {
    color: {{ theme_colors.text_bright }};
    font-weight: bold;
}