* {
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
}

window {
    margin: 0px;
    background-color: #1E1E1E;
    border-radius: 10px;
    border: 2px solid #333333;
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
}

#input {
    margin: 5px;
    padding: 5px;
    border: none;
    color: #E6E6E6;
    background-color: #252526;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    background-color: #1E1E1E;
    border-radius: 5px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 5px;
}

#scroll {
    margin: 0px;
    padding: 5px;
    border: none;
}

#text {
    margin: 0px;
    padding: 0px;
    color: #E6E6E6;
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
} 

#entry {
    padding: 5px;
    margin: 0px 0px 2px 0px;
    border-radius: 5px;
    font-family: "{{ fixed_font_family }}", monospace;
    font-size: 10pt;
}

#entry:selected {
    background-color: #252526;
    border-radius: 5px;
    border-left: 3px solid #9CDCFE;
}

#text:selected {
    color: #FFFFFF;
    font-weight: bold;
}