# Seeded by setup-system. OpenMW may update this mutable per-profile file.
resources="{{ openmw_resources_dir }}"
data="{{ openmw_resources_dir }}/vfs"
data="{{ openmw_resources_dir }}/vfs-mw"
data="{{ openmw_morrowind_data_dir }}"
data="{{ openmw_morrowind_julan_data_dir }}"
data="{{ openmw_morrowind_katisha_data_dir }}"
data-local="{{ openmw_profile_data_local_dir }}"
encoding=win1252
fallback-archive=Morrowind.bsa
fallback-archive=Tribunal.bsa
fallback-archive=Bloodmoon.bsa
content=Morrowind.esm
content=Tribunal.esm
content=Bloodmoon.esm
content=adamantiumarmor.esp
content=AreaEffectArrows.esp
content=bcsounds.esp
content=EBQ_Artifact.esp
content=entertainers.esp
content=LeFemmArmor.esp
content=master_index.esp
content=Siege at Firemoth.esp
content=KS_Julan_Ashlander Companion_2.0.esp
content=KS_Katisha's_Fancy_Threads_1.0.esp
