# Seeded by setup-system. OpenMW may update this mutable per-profile file.
# BEGIN setup-system OpenMW graphics
{{ openmw_morrowind_native_graphics_settings }}
# END setup-system OpenMW graphics

[GUI]
scaling factor = 1.5
controller menus = true
controller tooltips = true

[Input]
grab cursor = true
enable controller = true
gamepad cursor speed = 1.0
joystick dead zone = 0.1
