output HEADLESS-1 mode {{ sunshine_host_sway_resolution }}@{{ sunshine_host_sway_refresh }} bg #101820 solid_color
set $mod Mod4
bindsym $mod+Shift+e exit
exec {{ sunshine_host_install_dir }}/bin/quest-ready-terminal.sh
