if status is-interactive
    # Commands to run in interactive sessions can go here
end

function fish_prompt
    # Set color to green, common in old-school displays
    set_color green

    # Print a fish emoji and classic ASCII art, you can choose any character you like for the ASCII art
    echo -n "🐟 > "

    # Reset color to default
    set_color normal
end

set -g fish_greeting

function fish_greeting
    # Get operating system, hostname, and kernel information
    set -l os (uname -o)  # Operating system name
    set -l host (uname -n)  # Hostname
    set -l kernel (uname -r)  # Kernel release

    set -l uptime (uptime | cut -d' ' -f4-)
    set -l memused (free -m | awk 'NR==2{printf "%s/%sMB (%.2f%%)\n", $3,$2,$3*100/$2 }')

    set_color 555555
    echo "OS: $os | Host: $host | Kernel: $kernel"
    echo "Uptime: $uptime "
    echo "Memusd: $memused"
    set_color normal
end