{
    "height": 30, 
    "spacing": 4,
    "modules-left": [
        "sway/workspaces"
    ],
    "modules-center": [],
    "modules-right": [
        "pulseaudio",
        "network",
        "battery",
        "clock",
        "tray"
    ],

    "style": "background: #002b36; color: #00ff00; border: 1px solid #003b36;",
    "font": "Font Awesome 5 Free 10",

    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": "{name}",
        "format-icons": {
            "1": "1",
            "2": "2",
            "3": "3",
            "4": "4",
            "5": "5",
            "6": "6",
            "7": "7",
            "8": "8",
            "9": "9",
            "10": "10",
            "urgent": "",
            "focused": "",
            "default": "•"
        },
        "format-urgent": " {name}",
        "format-focused": " {name}",
        "format-default": "• {name}"
    },

    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-bluetooth-muted": " {icon}",
        "format-muted": "",
        "format-icons": {
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },

    "network": {
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "{ipaddr}/{cidr} ",
        "format-disconnected": "Disconnected ⚠"
    },

    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-icons": ["", "", "", "", ""]
    },

    "clock": {
        "format": "{:%Y-%m-%d %H:%M:%S}",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },

    "tray": {
        "spacing": 10
    }
}
